.sleipner-event-section {
	width: 100%;
	margin-bottom: 10px;
}

.sleipner-event-section-title {
	font-weight: bold;
	font-size: 1.2rem;
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.sleipner-event-output-label {
	float: left;
	width: 30%;
	font-weight: bold;
	white-space: nowrap;
}

.sleipner-event-output-text {
	float: left;
	width: 70%;
}

.clearfix {
	display: inline-block;
	width: 100%;
	clear: both;
}

#sleipner-map-canvas {
	width: 100%;
	height: 400px;
	margin-top: 20px;
}